@import url(../../css/config.css);


.nav-link {
    color: var(--color-texto-principal) !important;
}

.navbar {
    box-shadow: 0px 5px 10px -5px var(--color-primario);
    height: var(--navbar-height);
}
.navbar-brand {
    width: var(--navbar-brand-width);
}

.navbar-toggler {
    background-color: var(--color-primario);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 1px var(--color-secundario);
}

.navbar-toggler-icon {
    font-size: .8rem;
}

.nav-link:hover {
    text-shadow: 1px 1px 1px var(--color-primario);
}

.navbar-collapse {
    padding-left: 1rem;
}
